<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214295647382-a5jfdte85nlvc718pmbhlp30hcrtfb7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214295647382-a5jfdte85nlvc718pmbhlp30hcrtfb7a</string>
	<key>API_KEY</key>
	<string>AIzaSyA-HPIZLLtBVqSP55fKojeTo3X6RpUE8eo</string>
	<key>GCM_SENDER_ID</key>
	<string>214295647382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GainzOnGainz</string>
	<key>PROJECT_ID</key>
	<string>gainzongainz-21665</string>
	<key>STORAGE_BUCKET</key>
	<string>gainzongainz-21665.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214295647382:ios:ebaad457f2e8af0a675eb7</string>
</dict>
</plist>